<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password | WFHS</title>
    <link rel="stylesheet" media="screen" href="/assets/auth/auth.css" />
</head>
<body>
<div class="video-container">
    <video autoplay muted loop id="video-background">
        <source src="/assets/auth/auth-background.mp4" type="video/mp4">
    </video>
    <div class="login-form">
        <section class="content" data-content-container>
            <main>

                <div class="auth-content">
                    <h2>Forgot Your Password??
                        <p class="signin-subtitle">Please enter email and submit OTP.</p>
                    </h2>
                    <div class="auth-form sign-in-form">
                        <form th:action="@{/auth/verifyOtp}" accept-charset="UTF-8" method="post">
                            <div th:if="${forgetPasswordError != null}">
                                <p style="color: red" th:text="${forgetPasswordError}"></p>
                            </div>
                            <div class="form-fields">
                                <fieldset>
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" tabindex="1" class="text-input" autocorrect="off" autocapitalize="off">
                                </fieldset>
                                <fieldset>
                                    <label for="otp">OTP</label>
                                    <div style="display: flex; align-items: center;">
                                        <input style="width: 80%;" type="text" name="otp" id="otp" tabindex="1" class="text-input" autocorrect="off" autocapitalize="off">
                                        <input style="text-align: center;" class="btn2 btn2--large" type="button" value="Send" id="sendOtpButton">
                                    </div>
                                </fieldset>
                            </div>
                            <input class="btn2 btn2--large btn2--full-width margin-t-20" type="submit" value="Verify OTP" tabindex="3" id="verifyOtpButton">
                            <label class="text-align-center"> <a th:href="@{/login}" style="font-size: 14px; font-weight: normal; text-decoration: underline;" >Back to Login</a></label>
                        </form>
                    </div>
                </div>
            </main>
        </section>
    </div>
</div>
<script src="/assets/ajax-api/common/ajaxUtils.js"></script>
<script src="/assets/ajax-api/auth/authAjax.js"></script>
<script src="/assets/ajax-api/auth/forgetPassword.js"></script>
</body>
</html>