<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password | WFHS</title>
    <link rel="stylesheet" media="screen" th:href="@{/assets/auth/auth.css}" />
</head>
<body>
<div class="container flex">
    <div class="wfhs-page flex">
        <div class="text">
            <h1>Forgot Your Password?</h1>
            <p style="color: #000; font-size: 1.75rem; white-space: nowrap;">Please enter your email address and verify OTP.</p>
        </div>
        <form th:action="@{/auth/verifyOtp}" accept-charset="UTF-8" method="post">
            <input type="email" name="email" id="email" placeholder="Email Address" required autocomplete="off">
            <div class="otp-container flex">
                <input type="text" name="otp" id="otp" placeholder="OTP" required>
                <input value="Send OTP" type="button" class="send-otp" id="sendOtpButton">
            </div>
            <div>
                <p style="color: red; font-size: 0.875rem; margin-bottom: 10px;" id="forgetPasswordError" th:text="${forgetPasswordError}"></p>
            </div>
            <div class="link">
                <button type="submit" id="verifyOtpButton" class="login">Verify OTP</button>
                <a th:href="@{/login}" class="forgot">Back to Login</a>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/assets/ajax-api/common/ajaxUtils.js}"></script>
<script th:src="@{/assets/ajax-api/auth/authAjax.js}"></script>
<script th:src="@{/assets/ajax-api/auth/forgetPassword.js}"></script>
</body>
</html>