<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | WFHS</title>
    <link rel="stylesheet" media="screen" th:href="@{/assets/auth/auth.css}" />

</head>
<body>
<div class="container flex">
    <div class="wfhs-page flex">
        <div class="text">
            <h1>Reset Password</h1>
            <p style="color: #000; font-size: 1.75rem; white-space: nowrap;">Work From Home System</p>
        </div>
        <form accept-charset="UTF-8" id="resetPasswordForm">
            <input type="password" name="new-password" id="newPassword" placeholder="New Password" required>
            <p style="color: red; font-size: 0.875rem; margin-bottom: 10px;" id="newPasswordError"></p>
            <input type="password" name="confirm-password" id="confirmPassword" placeholder="Confirm Password" required>
            <p style="color: red; font-size: 0.875rem; margin-bottom: 10px;" id="confirmPasswordError"></p>
            <div class="link">
                <input type="submit" class="login" id="resetPasswordButton" value="Change Password">
            </div>
        </form>
    </div>
</div>

<script th:src="@{/assets/ajax-api/common/ajaxUtils.js}"></script>
<script th:src="@{/assets/ajax-api/auth/authAjax.js}"></script>
<script th:src="@{/assets/ajax-api/auth/resetPassword.js}"></script>
</body>
</html>