<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | WFHS</title>
    <link rel="stylesheet" media="screen" href="/wfhs/assets/auth/auth.css" />

</head>
<body>
<div class="video-container">
    <video autoplay muted loop id="video-background">
        <source src="/wfhs/assets/auth/auth-background.mp4" type="video/mp4">
    </video>
    <div class="login-form">
        <section class="content" data-content-container>
            <main>

                <div class="auth-content">
                    <h2>Welcome Back!
                        <p class="signin-subtitle">Sign in to your account to continue.</p>
                    </h2>
                    <div class="auth-form sign-in-form">
                        <form accept-charset="UTF-8" id="resetPasswordForm">
                            <div class="form-fields">
                                <fieldset>
                                    <label for="newPassword">New Password</label>
                                    <input type="password" name="new-password" id="newPassword" tabindex="1" class="text-input" >
                                    <p class="signin-subtitle" style="color: red;" id="newPasswordError"></p>
                                </fieldset>
                                <fieldset>
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" name="confirm-password" id="confirmPassword" tabindex="1" class="text-input" >
                                    <p class="signin-subtitle" style="color: red;" id="confirmPasswordError"></p>
                                </fieldset>
                            </div>
                            <input class="btn2 btn2--large btn2--full-width margin-t-20" type="submit" id="resetPasswordButton" value="Change Password" tabindex="3">
                        </form>
                    </div>
                </div>
            </main>
        </section>
    </div>
</div>
<script src="/wfhs/assets/ajax-api/common/ajaxUtils.js"></script>
<script src="/wfhs/assets/ajax-api/auth/authAjax.js"></script>
<script src="/wfhs/assets/ajax-api/auth/resetPassword.js"></script>
</body>
</html>