<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>WorkHub</title>
</head>

<body>
<div id="wrap" th:fragment="content">
    <script th:src="@{/assets/form/viewFormDetails.js}"></script>
    <div id="wrap-inner">
        <div id="content" role="main">
            <div class="container-job-board">
                <div class="job-board-gradient"></div>
                <div class="header">
                    <div class="inner-header">
                        <div class="go-back display-none" id="go-back" onclick="goBack()">
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor" class="bi bi-arrow-left"
                                     viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                                </svg>
                            </button>
                        </div>
                        <div class="go-back display-none" id="go-back-1" onclick="goBack1()">
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor" class="bi bi-arrow-left"
                                     viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                                </svg>
                            </button>
                        </div>
                        <div class="header-title">

                            <div class="title-section">
                                <h1 class="display-block">DIR-ACE Technology Ltd.</h1>
                                <h2>Request Work From Home: Complete the Form Below</h2>
                            </div>
                            <div data-v-741dde45="" class="step-counter"
                                 style="font-size: 20px; display: flex;">
                                <span data-v-741dde45="" class="color-deep-blue-sea-light-40 " id="current-step-1">1</span>
                                <span data-v-741dde45="" class="color-deep-blue-sea-light-40 display-none" id="current-step-2">2</span>
                                <span data-v-741dde45="" class="color-deep-blue-sea-light-40 display-none" id="current-step-3">3</span>/3
                            </div>
                        </div>
                    </div>


                </div>
                <!-- Form -->
                <form id="apply-form" class="form-content" style="z-index: 2;" enctype="multipart/form-data">
                    <div data-v-115a39aa="" class="job-creation">
                        <!---->
                        <div data-v-115a39aa="" class="container">

                            <section data-v-115a39aa="" id="step1" class="step-container"
                                     style="margin-bottom: 10px;">

                                <div id="data-section">
                                    <section data-v-741dde45="" data-v-115a39aa=""
                                             class="user-form-container user-form">

                                        <div class="radio-inputs">
                                            <label class="radio"> <input type="radio" disabled
                                                                         name="radio" id="self-request-radio-output" th:checked="${applicant.id == requester.id}">
                                                <span
                                                        class="name">Self Request</span>
                                            </label> <label class="radio"> <input type="radio" disabled
                                                                                  name="radio"
                                                                                  id="other-request-radio-output" th:checked="${applicant.id != requester.id}"> <span
                                                class="name">Other Request</span>
                                            <th:block th:if="${applicant.id != requester.id}">
                                                <span style="position: absolute; bottom: -25px; left: 50%; color: #ff5555;" th:text="'(by ' + ${requester.name} + ')'"></span>
                                            </th:block>
                                        </label>
                                        </div>
                                        <br>
                                        <header data-v-741dde45=""
                                                class="heading display-flex justify-space-between align-center">
												<span data-v-741dde45="" class="title">Applicant
													Information</span>
                                        </header>

                                        <div data-v-741dde45="" class="form">
                                            <input
                                                    data-v-42dea6db="" id="form-id-display-by-form-data"
                                                    type="hidden"
                                                    th:value="${registerForm.id}"
                                                    />


                                            <div id="name-input-container" data-v-741dde45=""
                                                 class="form-field-container">
													<span data-v-741dde45="" class="error-marker">
														<div data-v-42dea6db="" data-v-741dde45="" class="">
															<label data-v-42dea6db="" for="name-display-by-form-id" class="label">
																Name <span data-v-42dea6db=""
                                                                           class="color-lobster">*</span>
															</label>
															<div data-v-42dea6db="" class="">
																<span data-v-42dea6db="" class="error-marker"> <input
                                                                        data-v-42dea6db="" id="name-display-by-form-id"
                                                                        type="text" required="required"
                                                                        style="color: #0d0c22; background: #fff;  border: 1px solid black;"
                                                                        th:value="${applicant.name}"
                                                                        disabled
                                                                        step="any" class="input"/>
																</span>
															</div>
														</div>
													</span>
                                            </div>

                                            <div data-v-741dde45="" class="form-field-container">
                                                <label for="staff-id">Staff ID:</label>
                                                <div class="staff-id-input-container" id="staff-id-output-container">
                                                    <input type="text" class="input" disabled
                                                           style="background: #fff; border: 1px solid black;" th:value="${applicant.staffId.length() > 0 ? applicant.staffId[0] : ''}">
                                                    <input type="text" class="input" disabled
                                                           style="background: #fff; border: 1px solid black;" th:value="${applicant.staffId.length() > 1 ? applicant.staffId[1] : ''}">                                                  
                                                    <input type="text" class="input" disabled
                                                           style="background: #fff; border: 1px solid black;" th:value="${applicant.staffId.length() > 2 ? applicant.staffId[2] : ''}">
                                                    <input type="text" class="input" disabled
                                                           style="background: #fff; border: 1px solid black;" th:value="${applicant.staffId.length() > 3 ? applicant.staffId[3] : ''}">
                                                    <input type="text" class="input" disabled
                                                           style="background: #fff; border: 1px solid black;" th:value="${applicant.staffId.length() > 4 ? applicant.staffId[4] : ''}">
                                                    <input type="text" class="input" disabled
                                                           style="background: #fff; border: 1px solid black;" th:value="${applicant.staffId.length() > 5 ? applicant.staffId[5] : ''}">
                                                    <input type="text" class="input" disabled
                                                           style="background: #fff; border: 1px solid black;" th:value="${applicant.staffId.length() > 6 ? applicant.staffId[6] : ''}">
                                                    <input type="text" class="input" disabled
                                                           style="background: #fff; border: 1px solid black;" th:value="${applicant.staffId.length() > 7 ? applicant.staffId[7] : ''}">
                                                </div>
                                            </div>

                                            <div data-v-741dde45="" class="form-field-container">
													<span data-v-741dde45="" class="error-marker">
														<div data-v-42dea6db="" data-v-741dde45="" class="">
															<label data-v-42dea6db="" for="position-display-by-form-id" class="label">
																Position <span data-v-42dea6db="" class="color-lobster">*</span>
															</label>
															<div data-v-42dea6db="" class="">
																<span data-v-42dea6db="" class="error-marker"> <input
                                                                        data-v-42dea6db=""
                                                                        id="position-display-by-form-id" type="text"
                                                                        style="color: #0d0c22; background: #fff; border: 1px solid black;"
                                                                        disabled
                                                                        th:value="${applicant.positionName}"
                                                                        placeholder="e.g. Senior Developer"
                                                                        required="required"
                                                                        step="any" class="input"/>
																</span>
															</div>

														</div>
													</span>
                                            </div>
                                            <div data-v-741dde45="" class="form-field-container">
													<span data-v-741dde45="" class="error-marker">
														<div data-v-42dea6db="" data-v-741dde45="" class="">
															<label data-v-42dea6db="" for="team-display-by-form-i" class="label">
																Assigned Project/Team <span data-v-42dea6db=""
                                                                                            class="color-lobster">*</span>
															</label>
															<div data-v-42dea6db="" class="">
																<span data-v-42dea6db="" class="error-marker"> <input
                                                                        data-v-42dea6db="" id="team-display-by-form-id"
                                                                        type="text"
                                                                        style="color: #0d0c22; background: #fff; border: 1px solid black;"
                                                                        disabled
                                                                        th:value="${applicant.team.name}"
                                                                        placeholder="e.g. HIME" required="required"
                                                                        step="any"
                                                                        class="input"/>
																</span>
															</div>
                                                            <!---->
														</div> <!---->
													</span>
                                            </div>
                                            <div data-v-741dde45="" class="form-field-container">
													<span data-v-741dde45="" class="error-marker">
														<div data-v-42dea6db="" data-v-741dde45="" class="">
															<label data-v-42dea6db="" for="department-display-by-form-id" class="label">
																Department <span data-v-42dea6db=""
                                                                                 class="color-lobster">*</span>
															</label>
															<div data-v-42dea6db="" class="">
																<!---->
																<span data-v-42dea6db="" class="error-marker"> <input
                                                                        data-v-42dea6db=""
                                                                        id="department-display-by-form-id"
                                                                        type="text"
                                                                        placeholder="e.g. Offshore Department - 2"
                                                                        style="color: #0d0c22; background: #fff; border: 1px solid black;"
                                                                        th:value="${applicant.department.name}"
                                                                        disabled
                                                                        required="required" step="any" class="input"/>
																</span>
                                                                <!---->
                                                                <!---->
															</div>
                                                            <!---->
														</div> <!---->
													</span>
                                            </div>
                                        </div>
                                    </section>

                                    <section data-v-741dde45="" data-v-115a39aa=""
                                             class="user-form-container user-form">
                                        <div data-v-741dde45="" class="form">
                                            <div data-v-741dde45="" class="form-field-container"
                                                 style="padding-top: 0px;">
													<span data-v-741dde45="" class="error-marker">
														<div data-v-42dea6db="" data-v-741dde45="" class="">
															<label data-v-42dea6db="" class="label">
																Working Place <span data-v-42dea6db=""
                                                                                    class="color-lobster">*</span>
															</label>
															<div data-v-42dea6db="" class="text-field-edit" style="position: relative;">
																<!---->
																<span data-v-42dea6db="" class="error-marker ">
																<input
                                                                        class="editable-input"
                                                                        id="working-place-display-by-form-id"
                                                                        type="text"
                                                                        th:value="${registerForm.workingPlace}"
                                                                        style="color: #0d0c22; background: #fff; border: 1px solid black;"
                                                                        disabled
                                                                        placeholder="e.g. MICT Park"/>
																</span>
                                                                <i class="edit-icon-view-detail fas fa-edit" title="Edit this field" style="display: inline; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
															</div>
                                                            <!---->
														</div> <!---->
													</span>
                                            </div>
                                            <div data-v-741dde45="" class="form-field-container">
													<span data-v-741dde45="" class="error-marker">
														<div data-v-42dea6db="" data-v-741dde45="" class="">
															<label data-v-42dea6db="" for="radio-button-container" class="label">
																Work From Home Request Percent <span data-v-42dea6db=""
                                                                                                     class="color-lobster">*</span>
															</label>
															<div data-v-42dea6db="" id="radio-button-container" class="radio-button-container">
																<div class="radio-button">
																	<input id="radio1" type="radio"
                                                                           class="radio-button__input" disabled
                                                                           name="radio-group" value="25" th:checked="${registerForm.requestPercent == 25}"> <label
                                                                        class="radio-button__label" for="radio1"> <span
                                                                        class="radio-button__custom"></span> 25%
																	</label>
																</div>
																<div class="radio-button">
																	<input type="radio" class="radio-button__input"
                                                                           disabled
                                                                           id="radio2" name="radio-group"
                                                                           value="50" th:checked="${registerForm.requestPercent == 50}"> <label
                                                                        class="radio-button__label" for="radio2"> <span
                                                                        class="radio-button__custom"></span> 50%
																	</label>
																</div>
																<div class="radio-button">
																	<input type="radio" class="radio-button__input"
                                                                           disabled
                                                                           id="radio3" name="radio-group"
                                                                           value="75" th:checked="${registerForm.requestPercent == 75}"> <label
                                                                        class="radio-button__label" for="radio3"> <span
                                                                        class="radio-button__custom"></span> 75%
																	</label>
																</div>
																<div class="radio-button">
																	<input type="radio" class="radio-button__input"
                                                                           disabled
                                                                           id="radio4" name="radio-group"
                                                                           value="100" th:checked="${registerForm.requestPercent == 100}"> <label
                                                                        class="radio-button__label" for="radio4"> <span
                                                                        class="radio-button__custom"></span> 100%
																	</label>
																</div>
															</div>
                                                            <!---->
														</div> <!---->
													</span>
                                            </div>

                                            <div data-v-741dde45="" class="form-field-container">
													<span class="error-marker">
														<div>
															<label data-v-42dea6db="" for="from-date-display-by-form-id" class="label">
																Request Period (From Date) <span
                                                                    class="color-lobster">*</span>
															</label>
															<div class="text-field-edit" style="position: relative;">
																<!---->
																<span class="error-marker"> <input
                                                                        id="from-date-display-by-form-id"
                                                                        type="text" placeholder="e.g. 01-01-2024"
                                                                        style="color: #0d0c22; background: #fff; border: 1px solid black;"
                                                                        th:value="${#dates.format(registerForm.fromDate, 'dd-MM-yyyy')}"
                                                                        disabled
                                                                        required="required" step="any" class="input editable-input"/>
                                                                    <i class="edit-icon-view-detail fas fa-edit" title="Edit this field" style="display: inline; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
																</span>
                                                                <!---->
															</div>
                                                            <!---->
														</div>
													</span>
                                            </div>

                                            <div data-v-741dde45="" class="form-field-container">
													<span class="error-marker">
														<div>
															<label data-v-42dea6db="" for="to-date-display-by-form-id" class="label">
																Request Period (To Date) <span
                                                                    class="color-lobster">*</span>
															</label>
															<div class="text-field-edit" style="position: relative;">
																<!---->
																<span class="error-marker"> <input
                                                                        id="to-date-display-by-form-id"
                                                                        type="text" placeholder="e.g. 01-01-2024"
                                                                        style="color: #0d0c22; background: #fff; border: 1px solid black;"
                                                                        disabled
                                                                        th:value="${#dates.format(registerForm.toDate, 'dd-MM-yyyy')}"
                                                                        required="required" step="any" class="input editable-input"/>
                                                                <i class="edit-icon-view-detail fas fa-edit" title="Edit this field" style="display: inline; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
																</span>
                                                                <!---->
															</div>
                                                            <!---->
														</div>
													</span>
                                            </div>

                                            <div data-v-741dde45="" class="form-field-container text-field-edit" style="position: relative;">
													<span data-v-741dde45="" class="error-marker">
														<div data-v-3ab916fa="" data-v-741dde45=""
                                                             class="wysiwyg-texteditor">
															<label class="label" for="form-request-reason-display-detail"> Request Reason <span
                                                                    data-v-3ab916fa="" data-test="required"
                                                                    class="required">*</span>
															</label>
                                                            <textarea style="height: 200px; border: 1px solid black; color: #0d0c22; background: #fff;" placeholder="e.g. For Emergency Only"  id="form-request-reason-display-detail" disabled class="editable-input">[[${registerForm.requestReason}]]</textarea>
                                                            <i class="edit-icon-view-detail fas fa-edit" title="Edit this field" style="display: inline; position: absolute; right: 10px; top: 30%; transform: translateY(-50%); cursor: pointer;"></i>
														</div> <!---->
													</span>
                                            </div>
                                            <br>
                                        </div>

                                    </section>
                                    <footer class="button-container display-flex justify-flex-end">
                                        <div id="continue-button" class="margin-l-8 form-sub">Continue</div>
                                    </footer>

                                </div>

                                <div id="capture-section" class="display-none">
                                    <div class="radio-os">
                                        <label class="radio"> <input type="radio" disabled
                                                                     name="radio1" value="Window" th:checked="${capture.os_type == 'Window'}">
                                            <span
                                                    class="name"> <i class="fa-brands fa-windows"
                                                                     style="font-size: 18px;"></i>&nbsp; Window
											</span>
                                        </label> <label class="radio"> <input type="radio" disabled
                                                                              name="radio1" value="Mac" th:checked="${capture.os_type == 'Mac'}"> <span
                                            class="name">
													<i class="fa-brands fa-apple" style="font-size: 18px;"></i>&nbsp;Macbook
											</span>
                                    </label> <label class="radio"> <input type="radio" disabled
                                                                          name="radio1" value="Linux" th:checked="${capture.os_type == 'Linux'}"> <span
                                            class="name">
												<i class="fa-brands fa-linux" style="font-size: 18px;"></i>&nbsp;Linux
                                    </span>
                                    </label>
                                    </div>

                                    <div id="window">
                                        <section data-v-741dde45="" data-v-115a39aa="" class="user-form-container-2 user-form">
                                            <div data-v-741dde45="" class="form" style="position:relative;">
                                                <div class="file-upload-form">
                                                    <label class="file-upload-label">
                                                        <p style="color: red;">➀ Press win key in keyboard.</p>
                                                        <p style="color: red;">➁ Type [winver] in windows search box and [Enter].
                                                            <i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i>
                                                        </p>
                                                        <div class="file-upload-design">
                                                            <img class="file-upload-preview-view-detail" id="window-operating-system-display-by-form-id" th:src="'data:image/png;base64,' + ${capture.operationSystem}" alt="Preview Image">
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="file" class="file-upload-input-view-detail" id="window-operating-system-input-by-form-id-view-detail" style="display: none;" accept="image/*">
                                        </section>

                                        <section data-v-741dde45="" data-v-115a39aa=""
                                                 class="user-form-container-2 user-form">
                                            <div data-v-741dde45="" class="form" style="position:relative;">

                                                <div class="file-upload-form" >
                                                    <label class="file-upload-label">
                                                        <p style="color: red;">➀ Press win key in keyboard.</p>
                                                        <p style="color: red;">➁ Type [windows security] in
                                                            windows search box and [Enter].</p>
                                                        <p style="color: red;">➂ Select [Device Performance &
                                                            Health].<i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i></p>
                                                        <div class="file-upload-design">
                                                            <img id="window-securityPatch-display-by-form-id" th:src="'data:image/png;base64,' + ${capture.securityPatch}"
                                                                 alt="Preview Image">
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="file" class="file-upload-input-view-detail" id="window-security-path-input-by-form-id-view-detail" style="display: none;" accept="image/*">
                                        </section>
                                        <section data-v-741dde45="" data-v-115a39aa=""
                                                 class="user-form-container-2 user-form">
                                            <div data-v-741dde45="" class="form">

                                                <div class="file-upload-form">
                                                    <label for="window-antivirusSoftware-display-by-form-id" class="file-upload-label">
                                                        <p style="color: red;">➀ Press win key in keyboard.</p>
                                                        <p style="color: red;">➁ Type [appwiz.cpl] in windows
                                                            search box and [Enter].</p>
                                                        <p style="color: red;">➂ Select [Antivirus Name].<i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i></p>
                                                        <div class="file-upload-design">
                                                            <img id="window-antivirusSoftware-display-by-form-id" th:src="'data:image/png;base64,' + ${capture.antivirusSoftware}"
                                                                 alt="Preview Image">
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="file" class="file-upload-input-view-detail" id="window-antivirusSoftware-input-by-form-id-view-detail" style="display: none;" accept="image/*">
                                        </section>
                                        <section data-v-741dde45="" data-v-115a39aa=""
                                                 class="user-form-container-2 user-form">
                                            <div data-v-741dde45="" class="form">

                                                <div class="file-upload-form">
                                                    <label for="window-antivirusPattern-display-by-form-id" class="file-upload-label">
                                                        <p style="color: red;">➀ Open Kaspersky application.</p>
                                                        <p style="color: red;">➁ Select [Task].</p>
                                                        <p style="color: red;">➂ Update database need to be up to date.<i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i></p>
                                                        <div class="file-upload-design">
                                                            <img id="window-antivirusPattern-display-by-form-id" th:src="'data:image/png;base64,' + ${capture.antivirusPattern}"
                                                                 alt="Preview Image">
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="file" class="file-upload-input-view-detail" id="window-antivirusPattern-input-by-form-id-view-detail" style="display: none;" accept="image/*">
                                        </section>
                                        <section data-v-741dde45="" data-v-115a39aa=""
                                                 class="user-form-container-2 user-form">
                                            <div data-v-741dde45="" class="form">

                                                <div class="file-upload-form">
                                                    <label for="window-antivirusFullScan-display-by-form-id" class="file-upload-label">
                                                        <p style="color: red;">➀ Open Kaspersky application.</p>
                                                        <p style="color: red;">➁ Select [Task].<i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i></p>
                                                        <div class="file-upload-design">
                                                            <img id="window-antivirusFullScan-display-by-form-id" th:src="'data:image/png;base64,' + ${capture.antivirusFullScan}"
                                                                 alt="Preview Image">
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <input type="file" class="file-upload-input-view-detail" id="window-antivirusFullScan-input-by-form-id-view-detail" style="display: none;" accept="image/*">
                                        </section>
                                    </div>

                                    <div id="mac" class="display-none">
                                        <section data-v-741dde45="" data-v-115a39aa=""
                                                 class="user-form-container-2 user-form">
                                            <div data-v-741dde45="" class="form">
                                                <div class="file-upload-form">
                                                    <label for="mac-operating-system-display-by-form-id" class="file-upload-label">
                                                        <p style="color: red;">➀ Type of Operating System<i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i></p>
                                                        <div class="file-upload-design">
                                                            <img id="mac-operating-system-display-by-form-id" th:src="'data:image/png;base64,' + ${capture.operationSystem}"
                                                                 alt="Preview Image">
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-v-741dde45="" data-v-115a39aa=""
                                                 class="user-form-container-2 user-form">
                                            <div data-v-741dde45="" class="form">

                                                <div class="file-upload-form">
                                                    <label for="mac-securityPatch-display-by-form-id" class="file-upload-label">
                                                        <p style="color: red;">➀ Apple Menu >> System
                                                            Preferences>>Software Update<i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i></p>
                                                        <div class="file-upload-design">
                                                            <img id="mac-securityPatch-display-by-form-id" th:src="'data:image/png;base64,' + ${capture.securityPatch}"
                                                                 alt="Preview Image">
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-v-741dde45="" data-v-115a39aa=""
                                                 class="user-form-container-2 user-form">
                                            <div data-v-741dde45="" class="form">

                                                <div class="file-upload-form">
                                                    <label for="mac-antivirusSoftware-display-by-form-id" class="file-upload-label">
                                                        <p style="color: red;">➀ Click the Apple menu > >About This
                                                            Mac</p>
                                                        <p style="color: red;">➁ Tap on System Report > Software >
                                                            Installation.</p>
                                                        <p style="color: red;">➂ Look for XProtectPlistConfigData.<i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i></p></p>
                                                        <div class="file-upload-design">
                                                            <img id="mac-antivirusSoftware-display-by-form-id" th:src="'data:image/png;base64,' + ${capture.antivirusSoftware}"
                                                                 alt="Preview Image">
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                    <div id="linux" class="display-none">
                                        <section data-v-741dde45="" data-v-115a39aa=""
                                                 class="user-form-container-2 user-form">
                                            <div data-v-741dde45="" class="form">
                                                <div class="file-upload-form">
                                                    <label for="linux-operating-system-display-by-form-id" class="file-upload-label">
                                                        <p style="color: red;">➀ Type of Operating Syste</p>
                                                        search box and [Enter].<i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i>
                                                        <div class="file-upload-design">
                                                            <img id="linux-operating-system-display-by-form-id" th:src="'data:image/png;base64,' + ${capture.operationSystem}"
                                                                 alt="Preview Image">
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-v-741dde45="" data-v-115a39aa=""
                                                 class="user-form-container-2 user-form">
                                            <div data-v-741dde45="" class="form">

                                                <div class="file-upload-form">
                                                    <label for="linux-securityPatch-display-by-form-id" class="file-upload-label">
                                                        <p style="color: red;">➀ Security Patch is updated to latest version.<i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i></p>
                                                        <div class="file-upload-design">
                                                            <img id="linux-securityPatch-display-by-form-id" th:src="'data:image/png;base64,' + ${capture.securityPatch}"
                                                                 alt="Preview Image">
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-v-741dde45="" data-v-115a39aa=""
                                                 class="user-form-container-2 user-form">
                                            <div data-v-741dde45="" class="form">

                                                <div class="file-upload-form">
                                                    <label for="linux-antivirusSoftware-display-by-form-id" class="file-upload-label">
                                                        <p style="color: red;">➀ Antivirus software(built-in, open source antivirus or third party software).<i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i></p>
                                                        <div class="file-upload-design">
                                                            <img id="linux-antivirusSoftware-display-by-form-id" th:src="'data:image/png;base64,' + ${capture.antivirusSoftware}"
                                                                 alt="Preview Image">
                                                        </div>
                                                    </label>
                                                    <input type="file" id="image-upload-input" style="display: block;" accept="image/*">
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                    <footer class="button-container display-flex justify-flex-end">
                                        <div class="margin-l-8 form-sub" id="continue-button-1">Continue</div>
                                    </footer>
                                </div>
                                <div id="signature-section" class="display-none">
                                    <section data-v-741dde45="" data-v-115a39aa=""
                                             class="user-form-container-2 user-form">
                                        <div class="pledge-container">
                                            <div class="pledge-heading">
                                                <h2>Employee Pledge</h2>
                                            </div>
                                            <div class="pledge-body">
                                                <span>I acknowledge that I will follow information Security Policy, Personal Information Handling Policy and <br> Business Continuity Policy released by DIR-ACE Technology Ltd.</span>
                                            </div>
                                        </div>
                                        <div data-v-741dde45="" class="form-field-container"
                                             style="margin-left: 480px;">
												<span class="error-marker">
													<div>
														<label data-v-42dea6db="" for="signed-date-display-by-form-id" class="label">
															Signed Date <span class="color-lobster">*</span>
														</label>
														<div class="text-field-edit">
															<span class="error-marker"> <input
                                                                    id="signed-date-display-by-form-id"
                                                                    type="text"
                                                                    th:value="${#dates.format(registerForm.signedDate, 'dd-MM-yyyy')}"
                                                                    required="required" step="any" class="input editable-input"
                                                                    style="color: #0d0c22; background: #fff; border: 1px solid black;"
                                                                    placeholder="01-01-2024"
                                                                    disabled>
                                                                <i class="edit-icon-view-detail fas fa-edit" title="Edit this field" style="display: inline; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
															</span>
														</div>
                                                        <!---->
													</div>
												</span>
                                        </div>
                                        <div data-v-741dde45="" class="form">
                                            <div class="file-upload-form">
                                                <label for="signature-display-by-form-id" class="file-upload-label"
                                                       id="file-label-12" ondrop="drop(event, 12)"
                                                       ondragover="allowDrop(event, 12)">
                                                    <p style="color: red;">➀ Please import your signature here.<i class="edit-image-icon-view-detail fas fa-edit" title="Edit this field" style="margin-left: 20px;display: inline; cursor: pointer; color: black"></i></p>
                                                    <div class="file-upload-design">
                                                        <img id="signature-display-by-form-id" alt="Preview Image" th:src="'data:image/png;base64,' + ${registerForm.signature}">
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                    <div id="approval-sections-container"></div>
                                    <footer class="button-container display-flex justify-flex-end" id="approve-reject-button-container">
                                        <div id="go-home-btn" class="margin-l-8 form-sub" style="background: transparent; color: black; border: 2px solid black;" onclick="history.back();">Go Back</div>
                                        <div class="margin-l-8 form-sub" id="view-detail-update-btn">Update</div>
                                    </footer>
                                </div>
                            </section>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
</body>
</html>