<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WorkHub</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<!-- ============================================================== -->
<!-- ChatBox header -->
<!-- ============================================================== -->
<div th:fragment="chat" id="test-noti">
    <button class="chatbot-toggler">
        <span class="material-symbols-rounded">mode_comment</span>
        <span class="material-symbols-outlined">close</span>
    </button>
    <div class="chatbot">
        <header>
            <h2>Customer Support</h2>
            <span class="close-btn material-symbols-outlined">close</span>
        </header>
        <div class="connecting">Connecting...</div>
        <ul class="chatbox"></ul>
        <div class="chat-input">
            <textarea placeholder="Enter a message..." id="message" spellcheck="false" required></textarea>
            <span id="send-btn" class="material-symbols-rounded">send</span>
        </div>
    </div>
<!--    <script th:src="@{/assets/js/chat.js}"></script>-->
</div>
<!-- ============================================================== -->
<!-- ChatBox End -->
<!-- ============================================================== -->
</body>
</html>
