<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>WorkHub</title>
</head>

<body>
<div class="footer-v2-marquee" data-footer-v2-marquee style="--item-count: 8;" th:fragment="circle">
	      <div class="footer-v2-marquee__track">
	        <div class="footer-v2-marquee__grid">
	            <a href="shots/popular/branding.html" class="footer-v2-marquee-item " style="--stack-color-1: #E6FDC9; --stack-color-2: #EDF3D8;">
	              <div class="footer-v2-marquee-item__stack"></div>
	              <div class="footer-v2-marquee-item__media">
	                <img
	                  alt="Home"
	                  width="200"
	                  height="150"
	                  class="lazyload"
	                  data-sizes="auto"
	                  data-aspectratio="1.3333333333333333"
	                  data-src="/assets/images/home-page.png?format=webp&amp;resize={width}x{height}&amp;vertical=center"
	                />
	              </div>
	
	              <div class="footer-v2-marquee-item__title">Home</div>
	            </a>
	            <a href="shots/popular/animation.html" class="footer-v2-marquee-item " style="--stack-color-1: #F6D9FB; --stack-color-2: #E3EBFD;">
	              <div class="footer-v2-marquee-item__stack"></div>
	              <div class="footer-v2-marquee-item__media">
	                <img
	                  alt="Apply WFH Form"
	                  width="200"
	                  height="150"
	                  class="lazyload"
	                  data-sizes="auto"
	                  data-aspectratio="1.3333333333333333"
	                  data-src="/assets/images/apply-form-page.png?format=webp&amp;resize={width}x{height}&amp;vertical=center"
	                />
	              </div>
	
	              <div class="footer-v2-marquee-item__title">Apply WFH Form</div>
	            </a>
	            <a href="shots/popular/web-design.html" class="footer-v2-marquee-item " style="--stack-color-1: #EDF3D8; --stack-color-2: #EDDDFB;">
	              <div class="footer-v2-marquee-item__stack"></div>
	              <div class="footer-v2-marquee-item__media">
	                <img
	                  alt="View Form Details"
	                  width="200"
	                  height="150"
	                  class="lazyload"
	                  data-sizes="auto"
	                  data-aspectratio="1.3333333333333333"
	                  data-src="/assets/images/view-details-page.png?format=webp&amp;resize={width}x{height}&amp;vertical=center"
	                />
	              </div>
	
	              <div class="footer-v2-marquee-item__title">View Form Details</div>
	            </a>
	            <a href="shots/popular/print.html" class="footer-v2-marquee-item " style="--stack-color-1: #E6FBFE; --stack-color-2: #DDFDE8;">
	              <div class="footer-v2-marquee-item__stack"></div>
	              <div class="footer-v2-marquee-item__media">
	                <img
	                  alt="Accept WFH Form"
	                  width="200"
	                  height="150"
	                  class="lazyload"
	                  data-sizes="auto"
	                  data-aspectratio="1.3333333333333333"
	                  data-src="/assets/images/approve-form-page.png?format=webp&amp;resize={width}x{height}&amp;vertical=center"
	                />
	              </div>
	
	              <div class="footer-v2-marquee-item__title">Accept WFH Form</div>
	            </a>
	            <a href="shots/popular/mobile.html" class="footer-v2-marquee-item " style="--stack-color-1: #E3EBFD; --stack-color-2: #EDF3D8;">
	              <div class="footer-v2-marquee-item__stack"></div>
	              <div class="footer-v2-marquee-item__media">
	                <img
	                  alt="Reject WFH Form"
	                  width="200"
	                  height="150"
	                  class="lazyload"
	                  data-sizes="auto"
	                  data-aspectratio="1.3333333333333333"
	                  data-src="/assets/images/form-reject-page.png?format=webp&amp;resize={width}x{height}&amp;vertical=center"
	                />
	              </div>
	
	              <div class="footer-v2-marquee-item__title">Reject WFH Form</div>
	            </a>
	            <a href="shots/popular/typography.html" class="footer-v2-marquee-item " style="--stack-color-1: #DDFDE8; --stack-color-2: #EDF3D8;">
	              <div class="footer-v2-marquee-item__stack"></div>
	              <div class="footer-v2-marquee-item__media">
	                <img
	                  alt="Bulk Approval"
	                  width="200"
	                  height="150"
	                  class="lazyload"
	                  data-sizes="auto"
	                  data-aspectratio="1.3333333333333333"
	                  data-src="/userupload/13115302/file/original-98be575149c4e030868328f90ffaf68c7cdb.webp?format=webp&amp;resize={width}x{height}&amp;vertical=center"
	                />
	              </div>
	
	              <div class="footer-v2-marquee-item__title">Bulk Approval</div>
	            </a>
	            <a href="shots/popular/product-design.html" class="footer-v2-marquee-item " style="--stack-color-1: #EDDDFB; --stack-color-2: #DDFDE8;">
	              <div class="footer-v2-marquee-item__stack"></div>
	              <div class="footer-v2-marquee-item__media">
	                <img
	                  alt="Ledger Page"
	                  width="200"
	                  height="150"
	                  class="lazyload"
	                  data-sizes="auto"
	                  data-aspectratio="1.3333333333333333"
	                  data-src="/userupload/13060018/file/original-e5995363ee7bff407fc7db115d56be717cdb.webp?format=webp&amp;resize={width}x{height}&amp;vertical=center"
	                />
	              </div>
	
	              <div class="footer-v2-marquee-item__title">Ledger Page</div>
	            </a>
	            <a href="shots/popular/branding.html" class="footer-v2-marquee-item footer-v2-marquee-item--duplicate" style="--stack-color-1: #E6FDC9; --stack-color-2: #EDF3D8;">
	              <div class="footer-v2-marquee-item__stack"></div>
	              <div class="footer-v2-marquee-item__media">
	                <img
	                  alt="Notification Center"
	                  width="200"
	                  height="150"
	                  class="lazyload"
	                  data-sizes="auto"
	                  data-aspectratio="1.3333333333333333"
	                  data-src="/userupload/13183521/file/original-c2f392e58d07239cd4108fdaa15c44e07cdb.webp?format=webp&amp;resize={width}x{height}&amp;vertical=center"
	                />
	              </div>
	
	              <div class="footer-v2-marquee-item__title">Notification Center</div>
	            </a>
	            <a href="shots/popular/branding.html" class="footer-v2-marquee-item footer-v2-marquee-item--duplicate" style="--stack-color-1: #E6FDC9; --stack-color-2: #EDF3D8;">
	              <div class="footer-v2-marquee-item__stack"></div>
	              <div class="footer-v2-marquee-item__media">
	                <img
	                  alt="Sending OTP"
	                  width="200"
	                  height="150"
	                  class="lazyload"
	                  data-sizes="auto"
	                  data-aspectratio="1.3333333333333333"
	                  data-src="/userupload/13183521/file/original-c2f392e58d07239cd4108fdaa15c44e07cdb.webp?format=webp&amp;resize={width}x{height}&amp;vertical=center"
	                />
	              </div>
	
	              <div class="footer-v2-marquee-item__title">Sending OTP</div>
	            </a>
	            <a href="shots/popular/illustration.html" class="footer-v2-marquee-item " style="--stack-color-1: #E6FBFE; --stack-color-2: #EDF3D8;">
	              <div class="footer-v2-marquee-item__stack"></div>
	              <div class="footer-v2-marquee-item__media">
	                <img
	                  alt="About Us"
	                  width="200"
	                  height="150"
	                  class="lazyload"
	                  data-sizes="auto"
	                  data-aspectratio="1.3333333333333333"
	                  data-src="/userupload/13313154/file/original-7e90241363ee80919f38ea0637e9062d7cdb.webp?format=webp&amp;resize={width}x{height}&amp;vertical=center"
	                />
	              </div>
	
	              <div class="footer-v2-marquee-item__title">About Us</div>
	            </a>
	            <a href="shots/popular/branding.html" class="footer-v2-marquee-item footer-v2-marquee-item--duplicate" style="--stack-color-1: #E6FDC9; --stack-color-2: #EDF3D8;">
	              <div class="footer-v2-marquee-item__stack"></div>
	              <div class="footer-v2-marquee-item__media">
	                <img
	                  alt="Help"
	                  width="200"
	                  height="150"
	                  class="lazyload"
	                  data-sizes="auto"
	                  data-aspectratio="1.3333333333333333"
	                  data-src="/userupload/13183521/file/original-c2f392e58d07239cd4108fdaa15c44e07cdb.webp?format=webp&amp;resize={width}x{height}&amp;vertical=center"
	                />
	              </div>
	
	              <div class="footer-v2-marquee-item__title">Help</div>
	            </a>
	        </div>
	      </div>
	    </div>

</body>
</html>