<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>WorkHub</title>
</head>

<body>

	<!-- ============================================================== -->
	<!-- Topbar header -->
	<!-- ============================================================== -->
	<div th:fragment="navigation" class="nav-v2" data-site-nav-v2>
		<div class="nav-v2__dark-overlay"></div>

		<div class="nav-v2__wrapper">
			<!-- ============================================================== -->
			<!-- Topbar header (Mobile) -->
			<!-- ============================================================== -->			
			<button class="nav-v2-burger" data-nav-v2-burger
				aria-label="Toggle mobile menu">
				<span></span>
				<span></span>
				<span></span>
			</button>

			<nav class="nav-v2-main" role="navigation" data-nav-v2-mobile>
				<div class="nav-v2-main__wrapper">
					<ul ul class="nav-v2-main__list">
						<li class="nav-v2-main__item">
							<a data-nav-event-clicked="Dashboard" href="/dashboard">Home</a>
						</li>
						
						<li class="nav-v2-main__item nav-v2-main__item--sub-nav"><a href="#">Forms</a>

							<ul class="nav-v2-sub">
								<li class="nav-v2-sub__item hide-applicant-only hide-hr-only">
									<a class="nav-v2-sub__link" data-nav-event-clicked="Designer Search" href="/admin/viewFormList"> View request list
										<span class="nav-v2-sub__subtitle">Quickly view work from home form</span>
									</a>
								</li>
								<li class="nav-v2-sub__item visible-hr-only">
									<a class="nav-v2-sub__link" data-nav-event-clicked="Designer Search" href="/admin/ledger"> Ledger
										<span class="nav-v2-sub__subtitle">Fully view the WFH ledger</span>
									</a>
								</li>
								<li class="nav-v2-sub__item ">
									<a class="nav-v2-sub__link" data-nav-event-clicked="Post a Job" href="/applyForm"> Apply form now
										<span class="nav-v2-sub__subtitle">Swiftly apply for remote work</span>
									</a>
								</li>
								<li class="nav-v2-sub__item">
									<a class="nav-v2-sub__link" data-nav-event-clicked="Post a Job" href="/historyForm"> View request history
										<span class="nav-v2-sub__subtitle">Effortlessly check work history</span>
									</a>
								</li>
							</ul>
						</li>
						
						<li class="nav-v2-main__item nav-v2-main__item--sub-nav hide-applicant-only"><a data-nav-event-clicked="Hire Designers" href="#">Manage</a>

							<ul class="nav-v2-sub">
								<li class="nav-v2-sub__item visible-hr-only">
								    <a class="nav-v2-sub__link" data-nav-event-clicked="Approve Role" href="/admin/approveRole"> Approver
								        <span class="nav-v2-sub__subtitle">Administrate approval permissions Role</span>
								    </a>
								</li>
							    <li class="nav-v2-sub__item">
							        <a class="nav-v2-sub__link" data-nav-event-clicked="Add Division" href="/admin/division"> Division
							            <span class="nav-v2-sub__subtitle">Manage divisions</span>
							        </a>
							    </li>
							    <li class="nav-v2-sub__item">
							        <a class="nav-v2-sub__link" data-nav-event-clicked="Add Department" href="/admin/department">Department
							            <span class="nav-v2-sub__subtitle">Supervise departments</span>
							        </a>
							    </li>
							    <li class="nav-v2-sub__item">
							        <a class="nav-v2-sub__link" data-nav-event-clicked="Add Team" href="/admin/team">Team
							            <span class="nav-v2-sub__subtitle">Oversee teams</span>
							        </a>
							    </li>
							    <li class="nav-v2-sub__item">
							        <a class="nav-v2-sub__link" data-nav-event-clicked="Add User" href="/admin/user">User
							            <span class="nav-v2-sub__subtitle">Control users</span>
							        </a>
							    </li>				
								<li class="nav-v2-sub__item visible-hr-only">
							        <a class="nav-v2-sub__link" data-nav-event-clicked="Add User" href="/admin/importExcel">Import
							            <span class="nav-v2-sub__subtitle">Import Excel Here</span>
							        </a>
							    </li>
							    <li class="nav-v2-sub__item visible-hr-only">
							        <a class="nav-v2-sub__link" data-nav-event-clicked="Add User" href="/admin/approveRoleSwitch">Switch
							            <span class="nav-v2-sub__subtitle">Switch Approve Role Here</span>
							        </a>
							    </li>		
							    
							</ul>
						</li>

						<li class="nav-v2-main__item">
							<a href="/help">Help</a>
						</li>						

						<li class="nav-v2-main__item nav-v2-main__item--divided nav-v2-hide-medium-up">
							<a data-nav-event-clicked="Sign in" href="session/new.html">Log out</a>
						</li>
					</ul>
				</div>
			</nav>

			<a  th:href="@{/dashboard}" data-nav-event-clicked="Logo" aria-label="Back to home page">
				<img src="/assets/wfhs_logo.png" style="width: 250px; height: 140px; margin-top: 20px;" alt="wfhs-logo">
			</a>



			<div class="nav-v2-dynamic" data-nav-v2-dynamic>

				<div class="nav-v2-dynamic__logged-out">
					<!-- ============================================================== -->
					<!-- Notifications -->
					<!-- ============================================================== -->
					<div class="nav-v2-dynamic__login"> 
						<i id="bell-icon" style="font-size: 24px; z-index: 2; position: relative; cursor: pointer;" class="fa-regular fa-bell">
							<span id="applicant-form-count" class="notification-count-container-count visible-applicant-only">0</span>
							<span id="approver-form-count" class="notification-count-container-count hide-applicant-only">0</span>
						</i>						
						<div class="notification-count-container" id="notification-count-container">
							
							<div class="notification-box-container">
								<div class="notification-box-container-header">
									<p class="notification-box-container-title">Notifications</p>
									<p class="notification-box-container-title-new"><span>0</span> New</p>
								</div>
								
								<div class="notification-divider"></div>
								<ul class="notification-container-list">
									<li class="notification-container-list-items form-pending-notification-container" onclick="window.location.href='viewFormList'">
										<img alt="form" width="45" height="45" src="assets/icons/application.png">
										<div class="notification-container-list-text-box">
											<span class="notification-container-list-text-box-title">Form Application Notifications</span>
											<span class="notification-container-list-text-box-text">You have <span id="approver-pending-count">0</span> pending WFHS Forms.</span>
										</div>										
									</li>
									<li class="notification-container-list-items" id="service-desk-notification">
										<img alt="form" width="45" height="45" src="assets/icons/help-desk.png">
										<div class="notification-container-list-text-box">
											<span class="notification-container-list-text-box-title">Customer Support Notifications</span>
											<span class="notification-container-list-text-box-text">You have <span id="message-notification-count">0</span> unread messages.</span>
										</div>										
									</li>	
									<li class="notification-container-list-items" onclick="window.location.href='viewFormList'">
										<img alt="form" width="45" height="45" src="assets/icons/form-approve-reject.png">
										<div class="notification-container-list-text-box">
											<span class="notification-container-list-text-box-title">Form Approve Notifications</span>
											<span class="notification-container-list-text-box-text">You have <span id="form-approve-noti-service-desk-count">0</span> approved WFHS Forms.</span>
										</div>										
									</li>
									<li class="notification-container-list-items" onclick="window.location.href='viewFormList'">
										<img alt="form" width="45" height="45" src="assets/icons/form-approve-reject.png">
										<div class="notification-container-list-text-box">
											<span class="notification-container-list-text-box-title">Form Reject Notifications</span>
											<span class="notification-container-list-text-box-text">You have <span id="form-reject-noti-service-desk-count">0</span> rejected WFHS Forms.</span>
										</div>										
									</li>																
								</ul>
								<div class="notification-divider"></div>
								<div class="notification-box-container-view-all">View all notifications</div>
							</div>
						</div>										
					</div>
					<script>
						document.addEventListener("DOMContentLoaded", function() {
							const bellIcon = document.getElementById('bell-icon');
							const notificationContainer = document.getElementById('notification-count-container');
							
							bellIcon.addEventListener('click', () => {
								event.stopPropagation();
								notificationContainer.style.display = notificationContainer.style.display === 'block' ? 'none' : 'block';
							});
	
							document.addEventListener('click', (event) => {
				                if (!notificationContainer.contains(event.target) && event.target !== bellIcon) {
				                    notificationContainer.style.display = 'none';
				                }
				            });
							
						});
					</script>	
					<!-- ============================================================== -->
					<!-- Full Screen -->
					<!-- ============================================================== -->
					<a class="nav-v2-dynamic__login fullscreen-mode-icon" href="#"> 
						<i style="font-size: 24px;" class="fa-solid fa-expand fullscreen-toggle"></i>
					</a>
					<!-- ============================================================== -->
					<!-- User profile -->
					<!-- ============================================================== -->
					<div class="nav-v2-avatar">
						<a data-nav-v2-avatar="true" title="Open profile" href="">
							<img class="nav-v2-avatar__image" width="50px" height="50px" id="nav-profile-img">
						</a>
						<div class="nav-v2-profile" data-nav-v2-profile="" data-nav-event-category="Profile">
 							<div class="nav-v2-profile__wrapper" data-nav-v2-profile-wrapper="">
 								<div style="display: flex; align-items: center; flex-direction: row;">
									<a class="nav-v2-user" title="Open profile" data-nav-event-clicked="Profile" href="/profile">
										<div style="display: flex; flex-direction: row; align-items: center; column-gap: 10px;">
											<img class="nav-v2-user__image" id="nav-modal-profile-img">
											<div style="display: flex; flex-direction: column; row-gap: 5px;">
												<div class="nav-v2-user__name">
													
												</div>
												<div class="nav-v2-position"></div>
											</div>
										</div>
									</a>
								</div>
								<div class="nav-v2-sessions"></div>

								<ul class="nav-v2-profile__menu">									
									
									<li class="nav-v2-profile__item">
										<a data-nav-event-clicked="Work preferences" id="google_translate_element" href="#"></a>
									</li>
									<script type="text/javascript">
										function googleTranslateElementInit() {
										  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
										}
									</script>
									
									<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
									<li class="nav-v2-profile__item nav-v2-profile__item--divided">
										<form id="signOutForm" method="POST" th:action="@{/signOut}">
											<input name="_method" value="delete" type="hidden">
											<input name="authenticity_token" value="pkDDjzCsC6/aYkcwOKT6mc16uM1eXmBerzWgZeW6tHernY98upp+9L1UV2YyfxaZhD6tRaM/b41LQRXWkxUGuA==" type="hidden">
											<button type="submit">Log out</button>
										</form>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>

</html>