<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" id="fullscreen-body">

<head th:replace="fragments/header :: header">
    <title>WorkHub</title>
</head>
<body id="page" class="logged-out not-pro not-player not-self not-team not-on-team no-hiring  nav-v2-theme-cream">
    <!-- header -->
    <div th:replace="fragments/navigation :: navigation"></div>
    <!-- header -->

    <!-- main -->
    <main th:replace="fragments/form/history :: content"></main>
    <!-- main -->
    <div th:replace="fragments/footer :: footer"></div>
    <div id="site-notifications"></div>

    <div th:replace="fragments/chat :: chat"></div>

    <script src="/wfhs/assets/welcome/fullscreen.js" type="text/javascript"></script>

</body>
</html>