<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WFHS Login Page</title>
	<link rel="icon" th:href="@{/assets/icons/wfhs-small-logo.ico}" type="image/x-icon">
	<link rel="stylesheet" media="screen" th:href="@{/assets/auth/auth.css}" />
</head>
<body>
<div class="container flex">
	<div class="wfhs-page flex">
		<div class="text">
			<h1>DIR-ACE Technology</h1>
			<p style="color: #000; font-size: 1.75rem; white-space: nowrap;">Work From Home System</p>
		</div>
		<form th:action="@{/signIn}" accept-charset="UTF-8" method="post">
			<input type="text" name="username" placeholder="Staff ID" required>
			<input type="password" name="password" placeholder="Password" required>
			<div th:if="${session.errorMessage != null}">
				<p style="color: red; font-size: 0.875rem; margin-bottom: 10px;" th:text="${session.errorMessage}"></p>
			</div>
			<div class="link">
				<button type="submit" class="login">Login</button>
				<a th:href="@{/auth/forgetPassword}" class="forgot">Forgot password?</a>
			</div>
		</form>
	</div>
</div>
</body>
</html>