<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password Page</title>
    <link rel="stylesheet" media="screen" href="/assets/auth/auth.css" />
    
</head>
<body>
    <div class="video-container">
        <video autoplay muted loop id="video-background">
            <source src="/assets/auth/auth-background.mp4" type="video/mp4">
        </video>
        <div class="login-form">
            <section class="content" data-content-container>
                <main>
                  
                    <div class="auth-content">
                        <h2>Reset Your Password
                          <p class="signin-subtitle">Enter your email address below to recieve OTP to reset your password.</p>
                        </h2>
                        <div class="auth-form sign-in-form">
                            <form action="" accept-charset="UTF-8" method="post">
                                <div class="form-fields">
                                    <fieldset>
                                        <label for="login">Email Address</label>
                                        <input type="email" name="email" id="email" tabindex="1" class="text-input" autocorrect="off" autocapitalize="off" data-cypress="email">
                                    </fieldset>
                                </div>
                                <input class="btn2 btn2--large btn2--full-width margin-t-20" type="submit" value="Next" tabindex="3" data-cypress="submit-sign-in-btn">
                            </form>
                        </div>
                    </div>
                </main>
            </section>
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>
