
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" id="fullscreen-body">

<head th:replace="~{fragments/shared/header :: header}">
<title>WorkHub</title>
</head>

<body id="page"
	class="logged-out not-pro not-player not-self not-team not-on-team no-hiring  nav-v2-theme-cream">


	<!-- header -->
	<div th:replace="~{fragments/shared/navigation :: navigation}"></div>
	<!-- header -->

	<div th:replace="fragments/hr/department :: content"></div>
	<!-- main -->


	<div th:replace="~{fragments/shared/footer :: footer}"></div>
	<div id="site-notifications"></div>

	<script>
		Dribbble = window.Dribbble || {};
		Dribbble.JsConfig = Dribbble.JsConfig || {};
		User = {
			loggedIn: function() {
				return !!document.querySelector('body.logged-in')
			},
			loggedOut: function() {
				return !this.loggedIn()
			},
		};
	</script>

	<script th:src="@{/assets/categories-legacy-js-df367e0be108a4bcd5cf056b1dc087a41e9f132ef897cb72dca69f0961bf07f7.js}"></script>
	<script>
		var config = Dribbble.JsConfig || {}
		Dribbble.JsConfig = Object.assign(config, {
			user: {},
			hiringProfile: {},
			features: {},
			isRobot: null,
			remoteIp: "",
			isProduction: true,
			permissions: {},
			screenshot_boost: {},
		})
	</script>


	<script th:src="@{/assets/packs/js/application.ae6c19f201cd97e78298.js}"></script>

	<!--<div th:replace="~{fragments/shared/chat :: chat}"></div>-->

	<script th:src="@{/assets/welcome/fullscreen.js}" type="text/javascript"></script>



	<script src="https://code.jquery.com/jquery-3.6.4.min.js" type="text/javascript"></script>	
	<script th:src="@{/assets/hr/department/departmentOperation.js}"></script>
<script th:src="@{/assets/ajax-api/common/populateSelectBox.js}"></script>
</body>

</html>
