
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" id="fullscreen-body">

<head th:replace="fragments/header :: header">
<title>WorkHub</title>
</head>

<body id="page"
	class="logged-out not-pro not-player not-self not-team not-on-team no-hiring  nav-v2-theme-cream">


	<!-- header -->
	<div th:replace="fragments/navigation :: navigation"></div>
	<!-- header -->

	<div id="g_id_onload"
		data-client_id="32073492121-s6ur8ti01mh34gq2bpbufb8ujdfrpn4v.apps.googleusercontent.com"
		data-login_uri="index.html" data-ux_mode="redirect"></div>

	<div th:replace="fragments/hr/department :: content"></div>
	<!-- main -->


	<div th:replace="fragments/footer :: footer"></div>
	<div id="site-notifications"></div>

	<div th:replace="fragments/chat :: chat"></div>

	<script src="/assets/welcome/fullscreen.js" type="text/javascript"></script>



	<script src="https://code.jquery.com/jquery-3.6.4.min.js" type="text/javascript"></script>
	<script src="/assets/ajax-api/common/populateSelectBox.js"></script>
	<script src="/assets/hr/department/departmentOperation.js"></script>

	<script src="/assets/hr/department/departmentModal.js"></script>

</body>

</html>
