<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" id="fullscreen-body">

<head th:replace="fragments/header :: header">
<title>WorkHub</title>
</head>
<body id="page"
	class="logged-out not-pro not-player not-self not-team not-on-team no-hiring  nav-v2-theme-cream">


	<!-- header -->
	<div th:replace="fragments/navigation :: navigation"></div>
	<!-- header -->

	<div id="g_id_onload"
		data-client_id="32073492121-s6ur8ti01mh34gq2bpbufb8ujdfrpn4v.apps.googleusercontent.com"
		data-login_uri="index.html" data-ux_mode="redirect"></div>

	<div th:replace="fragments/hr/team :: content"></div>
	<!-- main -->
	
    <div th:replace="fragments/footer :: footer"></div>

    <div id="site-notifications"></div>

    <div th:replace="fragments/chat :: chat"></div>

    <script src="/wfhs/assets/welcome/fullscreen.js"></script>


        
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/wfhs/assets/ajax-api/common/populateSelectBox.js"></script>
    <script src="/wfhs/assets/hr/team/teamOperation.js"></script>
    <script src="/wfhs/assets/hr/team/teamModal.js"></script>

</body>

</html>
