<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>WorkHub</title>
</head>

<body>

	<div id="wrap" th:fragment="content">

		<div id="wrap-inner" class="flushed">
			<div id="content" role="main">
				<div class="container-medium">
					<div class="content-container display-flex direction-col-reverse">
						<div class="job-listings-container flex-1">
							<form data-search-input-form class="search-input-form" style="margin-top: 20px;">
								<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17"
									fill="none" role="img" class="icon">
									<path
										d="M1.5 7.75C1.5 9.4076 2.15848 10.9973 3.33058 12.1694C4.50269 13.3415 6.0924 14 7.75 14C9.4076 14 10.9973 13.3415 12.1694 12.1694C13.3415 10.9973 14 9.4076 14 7.75C14 6.0924 13.3415 4.50269 12.1694 3.33058C10.9973 2.15848 9.4076 1.5 7.75 1.5C6.0924 1.5 4.50269 2.15848 3.33058 3.33058C2.15848 4.50269 1.5 6.0924 1.5 7.75V7.75Z"
										stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round"></path>
									<path d="M12.814 12.8132L15.5 15.4999" stroke="currentColor" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round"></path>
								</svg>

								<label for="search-by-staff-name">
									<input type="search" name="search-input" id="search-by-staff-name"
										placeholder="Search by name, email, staff ID, or role..."
										class="js-search-input input-with-outline-only search-input" />
								</label>
							</form>

							<div
								class="display-flex align-center new-opportunities-container justify-space-between margin-b-40 margin-t-40">
								<div class="add-function">
									<div class="display-flex align-center">
										<div class="new-opportunities-heading">Total staffs (<span id="total-count"></span>)</div>
									</div>
									<a class="job-banner-cta js-job-cta btn2 add-data visible-hr-only" href="#">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" role="img" class="icon">
											<path d="M12 5V19M5 12H19" stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round"></path>
										</svg>
										Add Staff
									</a>
								</div>

								<a class="form-btn outlined filters-button filters-toggle-btn" href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" role="img" class="icon">
										<path fill-rule="evenodd" clip-rule="evenodd"
											d="M0 6C0 5.17157 0.671573 4.5 1.5 4.5H22.5C23.3284 4.5 24 5.17157 24 6C24 6.82843 23.3284 7.5 22.5 7.5H1.5C0.671573 7.5 0 6.82843 0 6ZM3 12C3 11.1716 3.67157 10.5 4.5 10.5H19.5C20.3284 10.5 21 11.1716 21 12C21 12.8284 20.3284 13.5 19.5 13.5H4.5C3.67157 13.5 3 12.8284 3 12ZM7.5 16.5C6.67157 16.5 6 17.1716 6 18C6 18.8284 6.67157 19.5 7.5 19.5H16.5C17.3284 19.5 18 18.8284 18 18C18 17.1716 17.3284 16.5 16.5 16.5H7.5Z">
										</path>
									</svg>

									<span class="label" title="Filters">Filters</span>
								</a>
							</div>
							<!-- <div class="staff-card-container" id="staff-list"
								style="margin-top: 50px; display: flex !important; flex-wrap:wrap !important; justify-content: space-between; align-items:center;">

							</div> -->
							<style>
								.filters-container {
									display: flex;
									flex-wrap: wrap;
									align-items: center;
									flex-direction: row;
									column-gap: 15px;
									font-family: Arial, sans-serif;
								}

								.filter {
									margin-right: 10px;
								}

								.table-container {
									overflow-x: auto;
								}
								.table {
									width: 100%;
									border-collapse: collapse;
									margin-top: 50px;
									font-family: Arial, sans-serif;
								}

								.table th, .table td {
									border: 1px solid #ddd;
									padding: 10px 15px;
									text-align: left;
									width: 20%;
									box-sizing: border-box;
								}

								.table th {
									background-color: #f8f9fa;
									color: #333;
									font-weight: bold;
								}

								.table tr:nth-child(even) {
									background-color: #f2f2f2;
								}

								.table tr:hover {
									background-color: #e9ecef;
								}

								.table th, .table td {
									border-bottom: 1px solid #ddd;
								}

								.pagination {
									display: flex;
									justify-content: end;
									margin-top: 20px;
								}

								.page-numbers {
									margin: 0 5px;
									padding: 10px 15px;									
									color: #333;									
								}
								
								.page-link {
									padding: 5px 10px;
								}


							</style>
							<div class="filters-container">
								<div class="filter">
									<label for="gender-filter">Gender</label>
									<select id="gender-filter">
										<option value="all">Filter by Gender</option>
										<option value="male">Male</option>
										<option value="female">Female</option>
									</select>
								</div>
								<div class="filter">
									<label for="division-filter">Division</label>
									<select id="division-filter">
										<option value="all">Filter by Division</option>
										<!-- Add division options here -->
									</select>
								</div>
								<div class="filter">
									<label for="department-filter">Department</label>
									<select id="department-filter">
										<option value="all">Filter by Department</option>
										<!-- Add department options here -->
									</select>
								</div>
								<div class="filter">
									<label for="team-filter">Team</label>
									<select id="team-filter">
										<option value="all">Filter by Team</option>
										<!-- Add team options here -->
									</select>
								</div>
							</div>

							<div class="table-container">
							<table id="staff-table" class="table">
							    <thead>
							        <tr>
							            <th>Name</th>
							            <th>Staff ID</th>
							            <th>Division</th>
							            <th>Department</th>
							            <th>Team</th>
										<th>Action</th>
							        </tr>
							    </thead>
							    <tbody id="staff-list"></tbody>
							</table>
							</div>
							<div class="pagination">
								<span class="page-numbers"></span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div id="add-data-overlay">
			<div id="add-data-modal" class="add-data-modal" style="width: 30%; height: 60%; overflow:auto;">
				<div class="add-data-modal-content">
					<div class="form-title">
						<span class="title">Add Staff</span>
						<span class="close">&times;</span>
					</div> <br>
					<form id="addForm">
						<label for="staff-id">Staff ID</label>
						<input type="tel" id="staff-id" placeholder="xx-xxxxx"
							required="required" step="any">
						<label for="name">Staff Name</label>
						<input type="text" id="name" placeholder="e.g. John" required="required">
						<label for="email">Email</label>
						<input type="email" id="email" placeholder="e.g. xxx@diracetechnology.com" required="required">
						<label for="gender">Choose Gender</label>
						<select id="gender" required="required" style="width: 100%" step="any">
							<option selected="selected" disabled="disabled"> Select Gender</option>
							<option value="M">Male</option>
							<option value="F">Female</option>
						</select>
						<label for="position-name">His/Her Position</label>
						<input type="text" id="position-name" placeholder="e.g. Software Engineer" required="required">
						<label for="approveRoleSelectBox">Choose Permission</label>
						<select id="approveRoleSelectBox" required="required" style="width: 100%" step="any"></select>
						<div id="team-data">
							<label for="team-name">Choose Team He/She Has To Join</label>
							<select id="team-name" required="required" style="width: 100%" step="any"></select>
						</div>
						<div id="department-data">
							<label for="department-name">Choose department He/She Has To Join</label>
							<select id="department-name" required="required" style="width: 100%" step="any"></select>
						</div>
						<div id="division-data">
							<label for="division-name">Choose division He/She Has To Join</label>
							<select id="division-name" required="required" style="width: 100%" step="any"></select>
						</div>
						<button class="btn2 add-data-btn" type="button" id="create-staff">Add Staff</button>
					</form>
				</div>
			</div>
		</div>

		<!-- Detail Modal -->
		<div id="detail-data-overlay" style="display: none;">
			<div id="detail-data-modal" class="add-data-modal" style="width: 30%; height: 60%; overflow:auto;">
				<div class="add-data-modal-content">
					<div class="form-title">
						<span class="title">Staff Detail</span>
						<span class="close close-edit-modal">&times;</span>
					</div> <br>
					<form id="detail">
						<label for="staff-id-detail">Staff ID</label>
						<input type="tel" id="staff-id-detail" style="color: #0d0c22; background: #fff;" placeholder="xx-xxxxx"
							   required="required" step="any" disabled>
						<label for="name-detail">Staff Name</label>
						<input type="text" id="name-detail" placeholder="e.g. John" required="required" style="color: #0d0c22; background: #fff;" disabled>
						<label for="email-detail">Email</label>
						<input type="email" id="email-detail" placeholder="e.g. xxx@gmail.com" required="required" style="color: #0d0c22; background: #fff;" disabled>
						<label for="gender-detail">Choose Gender</label>
						<input type="text" id="gender-detail" required="required" style="color: #0d0c22; background: #fff;" disabled>
						<label for="position-name-detail">His/Her Position</label>
						<input type="text" id="position-name-detail" placeholder="e.g. Software Engineer" required="required" style="color: #0d0c22; background: #fff;">
						<!-- <label for="approveRoleSelectBoxDetail">Choose Permission</label>
						<select id="approveRoleSelectBoxDetail" required="required" style="width: 100%" step="any"></select> -->
						<div id="team-data-detail">
							<label for="team-name-detail">Choose Team He/She Has To Join</label>
							<select id="team-name-detail" required="required" style="width: 100%" step="any"></select>
						</div>
						<div id="department-data-detail">
							<label for="department-name-detail">Choose department He/She Has To Join</label>
							<select id="department-name-detail" required="required" style="width: 100%" step="any"></select>
						</div>
						<div id="division-data-detail">
							<label for="division-name-detail">Choose division He/She Has To Join</label>
							 <select id="division-name-detail" required="required" style="width: 100%" step="any"></select>
						</div>
						<input type="hidden" id="user-id-detail">
						<div style="display: flex; justify-content: end; flex-direction: row; column-gap: 20px;">
						<button class="btn2 add-data-btn" style="width:30%;" type="button" id="change-role">Change Role</button>						
						<button class="btn2 add-data-btn" style="width:30%;" type="button" id="update-approve-role-1">Save Changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Role Change Modal -->
		<div id="role-change-overlay" style="display: none;">
		    <div id="role-change-modal" class="add-data-modal" style="width: 30%; height: 40%; overflow:auto;">
		        <div class="add-data-modal-content">
		            <div class="form-title">
		                <span class="title">Change Role</span>
		                <span class="close close-role-modal" id="close-role-modal">&times;</span>
		            </div> <br>
		            <form id="role-change-form">
		            	<label for="name-detail-2">Staff Name</label>
						<input type="text" id="name-detail-2" placeholder="e.g. John" required="required" style="color: #0d0c22; background: #fff;" disabled>
		                <label for="approveRoleSelectBoxDetail">Choose Permission</label>
		                <select id="approveRoleSelectBoxDetail" required="required" style="width: 100%;" step="any"></select>
						<!-- <div id="division-data-detail">
							<label for="division-name-detail-2">Choose division</label>
							<select id="division-name-detail-2" required="required" style="width: 100%" step="any"></select>
					
 							<div id="division-name-detail-2" style="width: 100%"></div>
 						</div>		     -->           
						<button class="btn2 add-data-btn" type="button" id="update-approve-role">Save Changes</button>
		            </form>
		        </div>
		    </div>
		</div>

	</div>
</body>

</html>