
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>WorkHub</title>
</head>

<body>
<div id="wrap" th:fragment="content" class="warp">
	<section class="profile-pro-masthead">
          <div class="container-large">
              <div class="masthead-content show-profile-is-null male">
<!--                  <div class="masthead-avatar">-->
<!--                      <img id="profile-page-image" class="avatar" />-->
<!--                  </div>-->
<!--                  <div class="masthead-profile-name">-->
<!--                      <h1 id="profile_page_name"></h1>-->
<!--                  </div>-->
                  <div class="user-profile">
                      <img class="profile-picture" id="profile-page-image">
                      <div class="user-info">
                          <h3 id="profile_page_name"><!-- username will add with ajax --></h3>
                          <div class="profile-edit-position display-flex" style="flex-direction: row; align-items: center; column-gap: 16px">
                              <h3 id="profile_page_position"><!-- position will add with ajax --></h3>
                              <button class="btn2 edit-position" title="Edit Position"><i class="fa-solid fa-pencil"></i></button>
                          </div>
<!--                          <p class="user-email">&lt;!&ndash; email will add with ajax &ndash;&gt;</p>-->
                      </div>
                  </div>
                  <div id="masthead" name="masthead" class="masthead-intro">
                      <div class="masthead-stats">
                          <div class="stat" id="position_page_email"></div>
                          <div class="stat" id="position_page_staff_id"></div>
                      </div>
                  </div>
                  <div class="masthead-stats">
                      <div class="stat" id="position_page_team_name"></div>
                      <div class="stat" id="position_page_department_name"></div>
                      <div class="stat" id="position_page_division_name"></div>
                      <div class="stat" id="profile_page_role_name"></div>
                  </div>
              </div>
          </div>
      </section>
      <div class="container-large">
          <div class="change-password-form" id="changePasswordForm">  	
              <form class="form-fields" accept-charset="UTF-8">
                  <div>
                      <fieldset>
                          <label for="currentPassword" class="password">Current Password </label>
                          <input type="password" name="password" id="currentPassword" value="" tabindex="1" class="text-input" data-cypress="password">
                      </fieldset>
                      <fieldset>
                          <label for="newPassword" class="password">New Password </label>
                          <input type="password" name="newPassword" id="newPassword" value="" tabindex="2" class="text-input" data-cypress="password">
                      </fieldset>
                      <fieldset>
                        <label for="confirmPassword" class="password">Retype New Password </label>
                        <input type="password" name="password" id="confirmPassword" value="" tabindex="3" class="text-input" data-cypress="password">
                    </fieldset>
                  </div>
                  <input class="btn2 margin-t-20 profile-btn" type="submit" value="Confirm" tabindex="4" style="width: 100px;"/>
              </form>
          </div>
      </div>
</div>
</body>
</html>